# Database Configuration
DB_HOST=<your-database-host>
DB_PORT=<your-database-port>
DB_USERNAME=<your-database-username>
DB_PASSWORD=<your-database-password>
DB_NAME=<your-database-name>

# JWT Configuration
JWT_SECRET=<your-jwt-secret>
JWT_EXPIRES_IN=<expiration-time>

# Optional: Environment (production | development)
NODE_ENV=<your-environment>
DEV_HOSTNAME=<your-dev-hostname>

# Redis Configuration
REDIS_HOST=<your-redis-host>
REDIS_PORT=<your-redis-port>